nav .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    background: deepskyblue;
}

nav .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

nav .navigation a:hover {
    background: #1565C0;
}

aside ul a {
    text-decoration: none;
    color: #1565C0;
}

aside ul a:hover {
    color: #308dff;
}

html {
    background-color: whitesmoke;
    font-size: 1.2em;
    color: #121212;
}

@media all and (max-width: 800px) {
    nav .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    nav .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    nav .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    nav .navigation li:last-of-type a {
        border-bottom: none;
    }
}

/* Footer stuff below, as feet are generally in the bottom */
footer {
    font-weight: bolder;
    color: slategrey;
    background-color: #BADA55;
    padding: .5em;
}
footer header {
    display: inline;
    color: darkgreen;
}

footer section {
    margin-left: .5em;
}

footer section span:nth-child(1)  {
    color: purple;
}

footer section span:nth-child(2) {
    color: black;
}